<div>
  <div class="col-md-12">
    <div class="col-md-2">
      <p class="sidebarTitle">Browse</p>

      <a href="/home/tech" class='sidelink'>Tech</a>
      <a href="/home/iot" class='sidelink'>IoT</a>
      <a href="/home/saas" class='sidelink'>Saas</a>
      <a href="/home/ecommerce" class='sidelink'>E-commerce</a>
      <a href="#" class='sidelink'></a>
    </div>
    <div class="col-md-8 top-link">
        <a href='/idea/create' class="button white">Pitch an idea</a>
        <a href='#' class="button white">Get feedback</a>
        <a href='#' class="button white">Inspiration</a>
    </div>
    <div class="col-md-9">
      <h1>Popular</h1>
      <hr>
    <% for(var i = 0; i < data.length ; i++ ){ %>
      <div class="row">
        <div class="col-sm-6 col-md-4 "><a class='card1' href="idea/<%= data[i].id %>">
          <div class="thumbnail">
            <!-- <img src="..." alt="..."> -->
            <div class="caption">
              <h3 class="light"><%= data[i].title %></h3>
              <small><%= data[i].industry %></small>
              <p class="read byline tooltip1">
                <span class="byline below">By </span>
                <%= data[i].user.fullName %>
                <span class="tooltiptext"><%= data[i].user.fullName %><br><%= data[i].user.job %></span>
              </p>
              <!-- <p><a href="#" class="button" role="button">Button</a></p> -->
            </div>
          </div></a>
        </div>
        <% } %>
      </div>
  </div>
</div>
